## 1. 데이터프레임 생성 예
1. 5명의 성적 데이터 생성(성명, 입학년도, 학점(0~4.5), 성별(M,F))

    열 이름: Name, Adyear, Grade, Sex

    행 인덱스: 순번

2. 인덱스, 칼럼, 값들, 데이터타입 확인

3. 요약통계 확인

4. 성명순으로 정렬

5. 성명 역순으로 정렬

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
data= {'Name': ['kim', 'lee', 'min', 'jin', 'park'],
       'Adyear': [2017, 2017, 2018, 2019, 2018],
       'Grade': [3.5, 2.0, 4.5, 2.2, 4.0],
       'Sex': ['M', 'M', 'F', 'F', 'M']}

df = pd.DataFrame(data)
display(df)
display("df.head(2) = ", df.head(2))
display("df.tail(2) = ", df.tail(2))

   Name  Adyear  Grade Sex
0   kim    2017    3.5   M
1   lee    2017    2.0   M
2   min    2018    4.5   F
3   jin    2019    2.2   F
4  park    2018    4.0   M

'df.head(2) = '

  Name  Adyear  Grade Sex
0  kim    2017    3.5   M
1  lee    2017    2.0   M

'df.tail(2) = '

   Name  Adyear  Grade Sex
3   jin    2019    2.2   F
4  park    2018    4.0   M

In [5]:
print("데이터 타입: \n", df.dtypes)
print("\n\n행 레이블: \n", df.index)
print('\n\n열 레이블: \n', df.columns)
print('\n\n데이터의 값들 확인: \n', df.values)

데이터 타입:
 Name       object
Adyear      int64
Grade     float64
Sex        object
dtype: object


행 레이블:
 RangeIndex(start=0, stop=5, step=1)


열 레이블:
 Index(['Name', 'Adyear', 'Grade', 'Sex'], dtype='object')


데이터의 값들 확인:
 [['kim' 2017 3.5 'M']
 ['lee' 2017 2.0 'M']
 ['min' 2018 4.5 'F']
 ['jin' 2019 2.2 'F']
 ['park' 2018 4.0 'M']]

In [6]:
print('요약통계 확인: \n', df.describe())

요약통계 확인:
            Adyear     Grade
count     5.00000  5.000000
mean   2017.80000  3.240000
std       0.83666  1.101363
min    2017.00000  2.000000
25%    2017.00000  2.200000
50%    2018.00000  3.500000
75%    2018.00000  4.000000
max    2019.00000  4.500000

In [10]:
fname = df.sort_values(by='Name')
display(fname)


dfgd = df.sort_values(by='Grade', ascending=False)


display(dfgd)

   Name  Adyear  Grade Sex
3   jin    2019    2.2   F
0   kim    2017    3.5   M
1   lee    2017    2.0   M
2   min    2018    4.5   F
4  park    2018    4.0   M

   Name  Adyear  Grade Sex
2   min    2018    4.5   F
4  park    2018    4.0   M
0   kim    2017    3.5   M
3   jin    2019    2.2   F
1   lee    2017    2.0   M

## 2. 데이터프레임 접근(indexing, subset selection) 예
5명의 성적 데이터 이용

1) 성명만 추출

2) 입학년도와 성적만 추출

3) 성명이 'kim'인  데이터만 추출

4) 입학년도가 2018년도 이상만 추출

5) 여성만 추출

6) 여성, 입학년도 2019

7) 성적이 3.5 이상이거나 남성

8) 입학년도 2017인 성명과 성적

9) 입학년도 2017인 성명부터 성적까지 (위치값 이용, iloc[])

10) 입학년도 2017인 성명부터 성적까지 (레이블 이용, loc[])

In [18]:
r1 = df['Name']
display("성명만 추출", r1)
print()

r2 = df[['Adyear', 'Grade']]
display('입학년도와 성적만 추출', r2)
print()

r3 = df[df.Name == 'kim']
display("성명이 'kim'인 데이터만 추출", r3)
print()

r4 = df[df.Adyear >= 2018]
display("입학년도가 2018년도 이상만 추출", r4)
print()

r5 = df[df.Sex == 'F']
display("여성만 추출", r5)
print()

r6 = df[(df.Sex == 'F') & (df.Adyear == 2019)]
display("여성이면서 입학년도가 2019만 추출", r6)
print()

r7= df[(df.Sex == 'M') | (df.Grade >= 3.5)]
display("성적이 3.5 이상이거나 남성인 경우 추출", r7)
print()

#df.loc[행조건식, 열이름]
r8 = df.loc[df.Adyear == 2017, ['Name', 'Grade']]
display("입학년도 2017년도의 성명과 성적만 추출")
print()

#df.iloc[행위치값, 열위치값]
r9 = df.iloc[0:2, :3]
display("입학년도 2017년도의 성명부터 성적까지 추출(iloc)", r9)
print()

#df.loc[행레이블, 열레이블]
r10 = df.loc[:1, :'Grade']
display("입학년도 2017년도의 성명부터 성적까지 추출(loc)", r10)

'성명만 추출'

0     kim
1     lee
2     min
3     jin
4    park
Name: Name, dtype: object

'입학년도와 성적만 추출'

   Adyear  Grade
0    2017    3.5
1    2017    2.0
2    2018    4.5
3    2019    2.2
4    2018    4.0

"성명이 'kim'인 데이터만 추출"

  Name  Adyear  Grade Sex
0  kim    2017    3.5   M

'입학년도가 2018년도 이상만 추출'

   Name  Adyear  Grade Sex
2   min    2018    4.5   F
3   jin    2019    2.2   F
4  park    2018    4.0   M

'여성만 추출'

  Name  Adyear  Grade Sex
2  min    2018    4.5   F
3  jin    2019    2.2   F

'여성이면서 입학년도가 2019만 추출'

  Name  Adyear  Grade Sex
3  jin    2019    2.2   F

'성적이 3.5 이상이거나 남성인 경우 추출'

   Name  Adyear  Grade Sex
0   kim    2017    3.5   M
1   lee    2017    2.0   M
2   min    2018    4.5   F
4  park    2018    4.0   M

'입학년도 2017년도의 성명과 성적만 추출'

'입학년도 2017년도의 성명부터 성적까지 추출(iloc)'

  Name  Adyear  Grade
0  kim    2017    3.5
1  lee    2017    2.0

'입학년도 2017년도의 성명부터 성적까지 추출(loc)'

  Name  Adyear  Grade
0  kim    2017    3.5
1  lee    2017    2.0

## 3. 데이터프레임 행, 열 추가, 통계함수, 파일저장 예

5명의 성적 데이터 이용

1) 성별 'F' -> 여, 'M' -> 남

2) 새로운 학생 한명 추가

3) lee 학생을 인덱스로 접근하여 삭제(원본 유지)

4) Age 열 추가

5) 성명을 index로 변경하고 성명 칼럼 삭제

6) 데이터프레임에서 학점, 나이만 추출하여 데이터프레임 df2 생성

7) df2 데이터에 대한 각 열의 minimum, maximum, mean 값을 구하여 행에 추가

8) 데이터프레임을 data폴더의 grade.csv 파일로 저장

In [19]:
df.loc[df.Sex == 'F', 'Sex'] = "여"
df.loc[df.Sex == 'M', 'Sex'] = "남"
display(df)

   Name  Adyear  Grade Sex
0   kim    2017    3.5   남
1   lee    2017    2.0   남
2   min    2018    4.5   여
3   jin    2019    2.2   여
4  park    2018    4.0   남

In [20]:
df.loc[5] = ['shin', 2019, 4.3, '여']
display("행추가 데이터 = ", df)

'행추가 데이터 = '

   Name  Adyear  Grade Sex
0   kim    2017    3.5   남
1   lee    2017    2.0   남
2   min    2018    4.5   여
3   jin    2019    2.2   여
4  park    2018    4.0   남
5  shin    2019    4.3   여

In [21]:
df1 = df.drop([1])
display("행삭제 데이터 = ", df1)

'행삭제 데이터 = '

   Name  Adyear  Grade Sex
0   kim    2017    3.5   남
2   min    2018    4.5   여
3   jin    2019    2.2   여
4  park    2018    4.0   남
5  shin    2019    4.3   여

In [22]:
df['Age'] = [20, 21, 22, 20, 23, 22]
display("열추가 데이터 = ", df)

'열추가 데이터 = '

   Name  Adyear  Grade Sex  Age
0   kim    2017    3.5   남   20
1   lee    2017    2.0   남   21
2   min    2018    4.5   여   22
3   jin    2019    2.2   여   20
4  park    2018    4.0   남   23
5  shin    2019    4.3   여   22

In [25]:
df.index = df.Name
df.drop(['Name'], axis = 1, inplace = True)
display(df)

AttributeError: 'DataFrame' object has no attribute 'Name'

#### Descriptive statistics

통계함수 제공: sum(), mean(), quantile()...

함수 호출 구조

* 행방향 계산(default)
    * 데이터프레임명.함수명(axis = 0), 데이터프레임명.함수명(axis = 'Index')
    * df.sum(), df.sum(0): 행방향 각 열의 합

* 열 방향 계산
    * 데이터프레임명.함수명(axis = 1), 데이터프레임명.함수명(axis = 'columns')
    * df.sum(1) : 열방향 각 행의 합

In [26]:
df2 = df[['Grade', 'Age']]
display("열추출 데이터 df2 = ", df2)

'열추출 데이터 df2 = '

      Grade  Age
Name
kim     3.5   20
lee     2.0   21
min     4.5   22
jin     2.2   20
park    4.0   23
shin    4.3   22

In [28]:
min1 = df2.min()
max1 = df.max()
mean = df.mean()

df2.loc['minimum'] = min1
df2.loc['maximum'] = max1
df2.loc['mean'] = mean
display("통계값 행추가 데이터 df2 = ", df2)

c:\201814471\setup\envs\py37\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_sinGNILifee_block(indexer, value, name)
c:\201814471\setup\envs\py37\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
c:\201814471\setup\envs\py37\lib\site-packages\pandas\core\indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_sinGNILifee_column(loc, v, pi)

'통계값 행추가 데이터 df2 = '

            Grade        Age
Name
kim      3.500000  20.000000
lee      2.000000  21.000000
min      4.500000  22.000000
jin      2.200000  20.000000
park     4.000000  23.000000
shin     4.300000  22.000000
minimum  2.000000  20.000000
maximum  4.500000  23.000000
mean     3.416667  21.333333

In [31]:
df.to_csv('C:/Users/서지희/OneDrive - 강원대학교/대학/WorkSpace/Python/데이터마이닝/data/grade.csv', encoding='euc-kr')

In [33]:
df3 = pd.read_csv('C:/Users/서지희/OneDrive - 강원대학교/대학/WorkSpace/Python/데이터마이닝/data/grade.csv', index_col= 0, encoding='euc-kr')
display("df3 = ", df3)

'df3 = '

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
min     2018    4.5   여   22
jin     2019    2.2   여   20
park    2018    4.0   남   23
shin    2019    4.3   여   22

* Append: 행 단위로 결합

In [35]:
df1 = df[df.Sex == '남']
df2 = df[df.Sex == '여']
display(df1)
display(df2)
df3 = df1.append(df2)
display(df3)

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
park    2018    4.0   남   23

      Adyear  Grade Sex  Age
Name
min     2018    4.5   여   22
jin     2019    2.2   여   20
shin    2019    4.3   여   22

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
park    2018    4.0   남   23
min     2018    4.5   여   22
jin     2019    2.2   여   20
shin    2019    4.3   여   22

* Merge: 특정 속성(key)를 기준으로 열 단위 결합

In [36]:
df1 = df[['Adyear', 'Grade']]
df2 = df[['Sex', 'Age']]

display(df1)
display(df2)

df3 = pd.merge(df1, df2, on = ['Name'])
display(df3)

      Adyear  Grade
Name
kim     2017    3.5
lee     2017    2.0
min     2018    4.5
jin     2019    2.2
park    2018    4.0
shin    2019    4.3

     Sex  Age
Name
kim    남   20
lee    남   21
min    여   22
jin    여   20
park   남   23
shin   여   22

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
min     2018    4.5   여   22
jin     2019    2.2   여   20
park    2018    4.0   남   23
shin    2019    4.3   여   22

* Splitting: GroupBy() 함수로 특정 속성에 대한 그룹으로 데이터 분리

In [38]:
print("\n## groupby (Sex) ##")
grouped = df.groupby('Sex')

for name, group in grouped:
    print('그루비룸: ', name)
    print('그룹 데이타: ')
    print(group)
    print()

f = grouped.get_group(name = '여')
m = grouped.get_group(name = '남')
print("\n## group (female) ##")
display(f)
print("\n## group (male) ##")
display(m)

# 주피터노트북은 print -display - print - display 잘 되는데
# 여기서는 print - print -display - display 이런 식으로 됨ㅠㅠ

## groupby (Sex) ##
그루비룸:  남
그룹 데이타:
      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
park    2018    4.0   남   23

그루비룸:  여
그룹 데이타:
      Adyear  Grade Sex  Age
Name
min     2018    4.5   여   22
jin     2019    2.2   여   20
shin    2019    4.3   여   22


## group (female) ##

## group (male) ##

      Adyear  Grade Sex  Age
Name
min     2018    4.5   여   22
jin     2019    2.2   여   20
shin    2019    4.3   여   22

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
park    2018    4.0   남   23

* Applying: 그룹에 독립적으로 함수 적용

* Aggregations: 각 그룹에 대한 요약통계(또는 통계)를 계산

In [39]:
print("\n#grouped.sum()=")
print(grouped.sum())
print('\n#grouped.mean()=')
print(grouped.mean())

#grouped.sum()=
     Adyear  Grade  Age
Sex
남      6052    9.5   64
여      6056   11.0   64

#grouped.mean()=
          Adyear     Grade        Age
Sex
남    2017.333333  3.166667  21.333333
여    2018.666667  3.666667  21.333333

In [40]:
r1= grouped.agg(['sum', 'mean', 'std'])
print('\n#grouped.agg() = \n', r1)

r2= grouped['Grade'].agg(['mean', 'std'])
print('\n#grouped[\'Grade\'].agg()=\n', r2)

#grouped.agg() =
     Adyear                       Grade                     Age             \
       sum         mean      std   sum      mean       std sum       mean
Sex
남     6052  2017.333333  0.57735   9.5  3.166667  1.040833  64  21.333333
여     6056  2018.666667  0.57735  11.0  3.666667  1.274101  64  21.333333


          std
Sex
남    1.527525
여    1.154701

#grouped['Grade'].agg()=
          mean       std
Sex
남    3.166667  1.040833
여    3.666667  1.274101

* Sampling: 랜덤하게 샘플 추출

In [41]:
dfs1= df.sample(n=3)
dfs2 = df.sample(n=3, random_state=1)
dfs3 = df.sample(n=3, weights='Adyear')
#가중치가 선택되면 최대한 가중치로 선택한 값을 랜덤하게 (다른 값으로) 설정하려는 것 같음

display(dfs1)
display(dfs2)
display(dfs3)

      Adyear  Grade Sex  Age
Name
shin    2019    4.3   여   22
park    2018    4.0   남   23
lee     2017    2.0   남   21

      Adyear  Grade Sex  Age
Name
min     2018    4.5   여   22
lee     2017    2.0   남   21
park    2018    4.0   남   23

      Adyear  Grade Sex  Age
Name
lee     2017    2.0   남   21
park    2018    4.0   남   23
shin    2019    4.3   여   22

#### DataFrame Reshaping

* Reshaping: 추가 분석을 위하여 데이터를 재구성하는기능
* Pivoting
    - 기존 테이블을 이용하여 새로운 구조의 파생 테이블을 만드는 작업
    - 사용함수
        - dataframe.pivot(index,  columns, values)
        - pd.pivot_table(data, values, index, columns, aggfunc)
            - 중복값이 있는 경우 pivot_table() 함수 이용
            - aggfunc 함수로 집계된 결과로 처리

* 성적 데이터에서 입학년도에 따른 나이별 성격 집계

dataframe.pivot(index, columns, values)

In [42]:
display(df)
df2 = df.pivot(index = 'Adyear', columns='Age', values='Grade')
display('df2 = ', df2)

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
min     2018    4.5   여   22
jin     2019    2.2   여   20
park    2018    4.0   남   23
shin    2019    4.3   여   22

'df2 = '

Age      20   21   22   23
Adyear
2017    3.5  2.0  NaN  NaN
2018    NaN  NaN  4.5  4.0
2019    2.2  NaN  4.3  NaN

* 성적 데이터에서 입학년도에 따른 성별 성적 집계 (중복값이 있는 경우 처리)

pd.pivot_table(data, values, index, columns, aggfunc)

In [43]:
display("df = ", df)

df3 = pd.pivot_table(df, values = "Grade", index = 'Adyear', columns='Sex')
display('df3 = ', df3)

df4 = pd.pivot_table(df, values='Grade', index = 'Adyear', columns = 'Sex', aggfunc=np.max)
display('df4 = ', df4)

'df = '

      Adyear  Grade Sex  Age
Name
kim     2017    3.5   남   20
lee     2017    2.0   남   21
min     2018    4.5   여   22
jin     2019    2.2   여   20
park    2018    4.0   남   23
shin    2019    4.3   여   22

'df3 = '

Sex        남     여
Adyear
2017    2.75   NaN
2018    4.00  4.50
2019     NaN  3.25

'df4 = '

Sex       남    여
Adyear
2017    3.5  NaN
2018    4.0  4.5
2019    NaN  4.3