## Report 2. physicalFitness 데이터 처리 연습

201814471_서지희

In [46]:
import numpy as np
import pandas as pd
from IPython.display import display

(1) 제공되는 “physicalFitness.csv” 파일을  읽어 데이터프레임 만들기

    ageGroup(1-9), sex(1,2), height, weight, BMI, BodyFat 속성으로 구성된 파일

In [47]:
df = pd.read_csv('C:/Users/서지희/OneDrive - 강원대학교/대학/WorkSpace/Python/데이터마이닝/data/physicalFitness.csv', encoding='euc-kr')
display(df)

      ageGroup  sex  height  weight   BMI  bodyFat
0            1    1   158.0    45.0  18.0      8.1
1            1    1   158.1    53.4  21.4      7.0
2            1    1   160.0    58.0  22.7      8.3
3            1    1   160.0    66.0  25.8     18.6
4            1    1   161.0    76.0  29.3     21.3
...        ...  ...     ...     ...   ...      ...
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

[4034 rows x 6 columns]

(2) (1)의 데이터에 대한 데이터 타입들, 행 레이블, 열 레이블 , 크기, 상,하위 5개 데이터 내용, 요약통계 확인

In [48]:
print('데이터 타입: \n', df.dtypes)
print('\n\n행 레이블: \n', df.index)
print('\n\n열 레이블: \n', df.columns)
print('\n\n크기: ', df.shape)
print('\n\n상위 5개 데이터: \n', df.head(5))
print('\n\n하위 5개 데이터: \n', df.tail(5))
print('\n\n요약통계: \n', df.describe())

데이터 타입:
 ageGroup      int64
sex           int64
height      float64
weight      float64
BMI         float64
bodyFat     float64
dtype: object


행 레이블:
 RangeIndex(start=0, stop=4034, step=1)


열 레이블:
 Index(['ageGroup', 'sex', 'height', 'weight', 'BMI', 'bodyFat'], dtype='object')


크기:  (4034, 6)


상위 5개 데이터:
    ageGroup  sex  height  weight   BMI  bodyFat
0         1    1   158.0    45.0  18.0      8.1
1         1    1   158.1    53.4  21.4      7.0
2         1    1   160.0    58.0  22.7      8.3
3         1    1   160.0    66.0  25.8     18.6
4         1    1   161.0    76.0  29.3     21.3


하위 5개 데이터:
       ageGroup  sex  height  weight   BMI  bodyFat
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1


요약통계:
           ageGroup          sex       height       weight          BMI  \
count  4034.000000  4034.000000  4034.000000  4034.000000  4034.000000
mean      4.351264     1.394646   167.695563    66.459569    23.529797
std       2.484330     0.488835     8.857008    11.570712     3.003301
min       1.000000     1.000000   131.600000    37.500000    14.900000
25%       2.000000     1.000000   161.000000    57.600000    21.500000
50%       4.000000     1.000000   168.150000    66.100000    23.300000
75%       6.000000     2.000000   174.200000    74.200000    25.300000
max       9.000000     2.000000   194.700000   122.500000    38.900000

           bodyFat
count  4034.000000
mean     20.341373
std       6.693839
min       3.900000
25%      15.800000
50%      20.100000
75%      24.700000
max      45.600000

(3) height(키)가 큰 값에서 작은 값 순으로 정렬

In [49]:
dfheight = df.sort_values(by = 'height', ascending=False)
display(dfheight)

      ageGroup  sex  height  weight   BMI  bodyFat
1009         2    1   194.7    97.7  25.8     17.9
1010         2    1   194.7    97.7  25.8     20.7
1480         3    1   193.1    87.7  23.5     20.7
1479         3    1   192.7    91.7  24.7     19.2
1982         4    1   192.5    75.1  20.3     26.1
...        ...  ...     ...     ...   ...      ...
3947         9    2   145.0    48.5  23.1     21.6
3946         9    2   143.0    54.6  26.7     30.8
3678         8    2   140.0    43.3  22.1     15.7
3945         9    2   134.0    41.0  22.8     20.3
2904         6    2   131.6    39.4  22.8     31.9

[4034 rows x 6 columns]

(4) BMI 30이상인 비만자만 ageGroup,height,weight,bodyFat을 추출하여 파일(obese.csv)로 저장

In [50]:
obese = df.loc[df.BMI >= 30, ['ageGroup', 'height', 'weight', 'bodyFat']]
display(obese)

obese.to_csv('C:/Users/서지희/OneDrive - 강원대학교/대학/WorkSpace/Python/데이터마이닝/data/obese.csv')

      ageGroup  height  weight  bodyFat
5            1   161.0    78.0     22.6
60           1   168.9    89.0     29.0
102          1   170.2    90.4     18.4
103          1   170.2    98.0     20.8
143          1   171.7    97.5     23.4
...        ...     ...     ...      ...
3898         9   168.0    90.0     32.5
3958         9   150.4    72.4     31.9
3969         9   152.6    75.8     38.8
3981         9   154.2    71.6     40.0
3992         9   156.0    73.0     43.4

[104 rows x 4 columns]

(5) (4)에서 추출된 데이터 셋에서 ageGroup 속성으로 그룹을 분리

In [51]:
grouped = obese.groupby('ageGroup')
for name, group in grouped:
    print('groupname: ', name)
    print('groupdata:')
    print(group,'\n')

groupname:  1
groupdata:
     ageGroup  height  weight  bodyFat
5           1   161.0    78.0     22.6
60          1   168.9    89.0     29.0
102         1   170.2    90.4     18.4
103         1   170.2    98.0     20.8
143         1   171.7    97.5     23.4
193         1   173.0    95.0     31.0
211         1   173.9    91.5     37.3
263         1   175.5   100.6     26.3
283         1   176.1    98.2     30.4
308         1   177.0    98.0     25.4
310         1   177.2    98.2     22.1
334         1   178.0    96.5     24.7
392         1   181.2    98.5     24.7
407         1   182.2   122.5     21.2
689         1   166.7    88.3     32.3

groupname:  2
groupdata:
      ageGroup  height  weight  bodyFat
757          2   167.1    85.7     22.9
824          2   172.4    99.2     26.1
827          2   172.8    91.5     26.6
930          2   178.4   101.0     29.3
977          2   181.2   101.5     20.4
995          2   184.3   109.5     31.2
1006         2   187.5   120.5     30.5
1008         2   189.5   119.2     28.2
1102         2   162.9    91.0     37.1
1118         2   165.4    88.3     35.5

groupname:  3
groupdata:
      ageGroup  height  weight  bodyFat
1153         3   151.6    74.1     16.7
1154         3   151.6    89.5     26.0
1155         3   152.0    86.0     13.2
1156         3   152.1    74.9     17.9
1160         3   156.5    93.7     19.8
1161         3   157.4    78.4     17.6
1164         3   159.3    79.2     17.6
1165         3   159.9    80.1     16.5
1166         3   160.4    87.8     20.6
1170         3   161.9    98.1     25.0
1172         3   162.6    81.0     30.3
1178         3   165.6    88.3     18.6
1203         3   169.0    88.4     21.4
1226         3   170.3    90.4     24.7
1229         3   170.5    88.7     24.7
1243         3   171.0    93.4     26.1
1261         3   172.0    96.0     21.8
1285         3   173.0    92.1     25.9
1301         3   174.0    91.0     21.4
1323         3   175.0    98.7     25.5
1342         3   176.0    96.0     25.5
1372         3   177.9    97.0     22.8
1390         3   178.2    95.6     33.0
1422         3   180.4    97.9     11.3
1467         3   184.7   110.0     27.6
1489         3   151.8    78.6     29.7

groupname:  4
groupdata:
      ageGroup  height  weight  bodyFat
1679         4   157.9    77.8     20.8
1690         4   164.0    87.0     23.0
1698         4   165.3    82.6     18.8
1699         4   165.5    89.9     27.1
1758         4   170.2    87.6     26.6
1759         4   170.5    91.0     30.8
1761         4   170.6    90.1     19.0
1790         4   172.3    92.0     21.4
1795         4   172.4    94.0     18.9
1866         4   176.2   103.0     27.7
1899         4   177.5    96.3     24.9
1923         4   178.6   110.4     23.3
1934         4   180.0   102.0     16.9
2026         4   156.5    81.3     45.0
2065         4   160.5    78.0     40.9

groupname:  5
groupdata:
      ageGroup  height  weight  bodyFat
2176         5   164.0    80.6     19.1
2177         5   164.4    81.3     28.1
2187         5   166.0    90.2     25.1
2188         5   166.0    90.2     26.4
2312         5   174.8    95.1     15.3
2349         5   176.9    94.6     15.4
2574         5   163.8    88.0     40.6

groupname:  6
groupdata:
      ageGroup  height  weight  bodyFat
2656         6   165.6    83.6     26.6
2680         6   167.0    87.0     20.0
2732         6   169.2    92.7     18.8
2836         6   175.5    94.0     17.6
2861         6   177.4    98.6     22.6
3041         6   163.8    84.7     34.4

groupname:  7
groupdata:
      ageGroup  height  weight  bodyFat
3090         7   160.8    80.4     26.1
3097         7   162.0    92.0     24.0
3145         7   166.4    86.7     29.2
3193         7   169.6    89.7     19.4
3202         7   170.0    93.0     22.5
3207         7   170.4    88.1     26.0
3233         7   172.0    90.1     29.9
3234         7   172.0    90.4     25.4
3235         7   172.0    92.3     26.2
3383         7   155.0    83.0     40.9
3386         7   155.6    80.4     35.0
3453         7   162.8    86.6     32.4

groupname:  8
groupdata:
      ageGroup  height  weight  bodyFat
3558         8   167.6    85.1     21.5
3643         8   173.6    94.6     21.0
3693         8   150.8    70.3     37.6
3719         8   153.5    74.0     30.3
3749         8   156.0    87.0     26.5
3759         8   157.0    75.4     20.9
3798         8   160.5    86.2     40.8
3822         8   163.1    93.8     40.5

groupname:  9
groupdata:
      ageGroup  height  weight  bodyFat
3898         9   168.0    90.0     32.5
3958         9   150.4    72.4     31.9
3969         9   152.6    75.8     38.8
3981         9   154.2    71.6     40.0
3992         9   156.0    73.0     43.4

(6) (5)그룹에 대한 요약 통계 (median, mean, std)

In [52]:
print('\n#grouped.median() = ')
print(grouped.median(),'\n')
print('\n#grouped.mean() = ')
print(grouped.mean(),'\n')
print('\n#grouped.std() = ')
print(grouped.std(),'\n')

#grouped.median() =
          height  weight  bodyFat
ageGroup
1         173.90   97.50    24.70
2         175.60  100.10    28.75
3         167.30   89.95    22.30
4         170.50   90.10    23.30
5         166.00   90.20    25.10
6         168.10   89.85    21.30
7         168.00   88.90    26.15
8         158.75   85.65    28.40
9         154.20   73.00    38.80


#grouped.mean() =
              height      weight    bodyFat
ageGroup
1         173.520000   96.013333  25.973333
2         176.150000  100.740000  28.780000
3         165.950000   89.419231  22.353846
4         169.200000   90.866667  25.673333
5         167.985714   88.571429  24.285714
6         169.750000   90.100000  23.333333
7         165.716667   87.725000  28.083333
8         160.262500   83.300000  29.887500
9         156.240000   76.560000  37.320000


#grouped.std() =
             height     weight   bodyFat
ageGroup
1          5.612512   9.391247  5.112515
2          9.441898  12.347667  5.169741
3         10.123132   8.596140  5.287512
4          7.406561   9.322221  8.056361
5          5.477965   5.788124  8.873449
6          5.514980   5.920135  6.296242
7          6.309853   4.429473  5.858612
8          7.596228   9.111845  8.725568
9          6.889702   7.677760  4.973630

(7) 남녀 각각 20명씩 추출하여 하나의 데이터 프레임으로 결합 , 요약통계확인

In [53]:
#남여 나누기

grouped = df.groupby('sex')


f = grouped.get_group(name = 2)
m = grouped.get_group(name = 1)

df20f = f.sample(n = 20)
df20m = m.sample(n = 20)

df3 = df20m.append(df20f)
display(df3)

print('\n요약통계: \n', df3.describe())

      ageGroup  sex  height  weight   BMI  bodyFat
1850         4    1   175.3    67.0  21.8      9.6
826          2    1   172.6    71.6  24.0     16.1
243          1    1   175.0    66.3  21.6     11.5
1810         4    1   173.1    81.2  27.1     25.1
2268         5    1   172.6    83.4  28.0     24.7
3618         8    1   171.5    69.0  23.5     25.9
3223         7    1   171.8    72.9  24.7     15.6
228          1    1   174.2    76.0  25.0     13.0
3095         7    1   162.0    66.0  25.1     21.1
3159         7    1   168.0    62.6  22.2     13.4
1441         3    1   181.5    78.0  23.7     16.6
301          1    1   177.0    70.0  22.3     11.5
965          2    1   180.9    74.1  22.6      7.8
20           1    1   166.0    64.0  23.2     13.1
3919         9    1   171.0    70.5  24.1     23.4
3            1    1   160.0    66.0  25.8     18.6
43           1    1   168.0    60.0  21.3     15.7
3241         7    1   172.7    57.4  19.2      9.3
810          2    1   171.3    61.8  21.1      7.7
3584         8    1   169.3    79.4  27.7     19.0
3724         8    2   154.0    53.0  22.3     21.5
544          1    2   159.6    52.1  20.5     18.5
3795         8    2   160.0    62.0  24.2     21.2
3817         8    2   163.0    55.0  20.7     22.1
2087         4    2   161.7    65.6  25.1     27.9
2077         4    2   161.1    53.7  20.7     29.6
2425         5    2   151.5    54.5  23.7     21.8
1619         3    2   165.1    62.9  23.1     25.0
2476         5    2   158.0    43.0  17.2     18.8
2452         5    2   155.0    51.0  21.2     28.0
3333         7    2   151.0    62.4  27.4     23.6
3035         6    2   163.0    52.0  19.6     20.1
3434         7    2   160.9    61.3  23.7     33.4
2916         6    2   152.0    54.0  23.4     23.1
4020         9    2   159.1    56.6  22.4     27.9
3757         8    2   157.0    57.0  23.1     19.6
3711         8    2   153.0    54.4  23.2     18.7
1073         2    2   160.0    52.0  20.3     26.0
2039         4    2   158.0    59.9  24.0     27.2
4025         9    2   160.5    75.5  29.3     31.0

요약통계:
         ageGroup       sex      height    weight        BMI    bodyFat
count  40.000000  40.00000   40.000000  40.00000  40.000000  40.000000
mean    4.950000   1.50000  164.932500  63.37750  23.227500  20.092500
std     2.763777   0.50637    8.312931   9.56126   2.532353   6.610419
min     1.000000   1.00000  151.000000  43.00000  17.200000   7.700000
25%     2.000000   1.00000  159.475000  54.87500  21.525000  15.675000
50%     5.000000   1.50000  163.000000  62.50000  23.200000  20.600000
75%     7.250000   2.00000  172.000000  70.12500  24.325000  25.025000
max     9.000000   2.00000  181.500000  83.40000  29.300000  33.400000

(8) 나이에 따른 성별의 BMI 평균 집계 테이블 생성 및 확인

In [54]:
df.pivot_table(index = 'ageGroup', columns = 'sex', values = 'BMI', aggfunc=np.mean)

sex               1          2
ageGroup
1         23.271678  20.707746
2         23.785075  20.837324
3         24.876524  21.368528
4         25.228852  22.240556
5         24.047266  22.720874
6         24.446595  23.329697
7         24.874390  23.379290
8         24.470619  23.954375
9         24.558879  24.397753