In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

In [3]:
df2 = pd.read_csv('./data/test3.csv', index_col=0)
print(df2.shape[0])
index = range(df2.shape[0])
# 12341234 이렇게 있는 인덱스 변경
df2.index = index
display(df2)

108

           날짜     품목명  평균가격  전일평균가격  전년가격 등급
0    20210501  대파(일반)  4211    4445  1358  특
1    20210501  대파(일반)  3232    3754  1079  상
2    20210501  대파(일반)  2996    3027   980  중
3    20210501  대파(일반)  2513    2459   745  하
4    20210502  대파(일반)     0    4211  1363  특
..        ...     ...   ...     ...   ... ..
103  20210526  대파(일반)  1180    1392  1208  하
104  20210527  대파(일반)  3699    3601  1952  특
105  20210527  대파(일반)  1554    2152  1639  상
106  20210527  대파(일반)  1247    1572  1500  중
107  20210527  대파(일반)  1110    1180  1257  하

[108 rows x 6 columns]

In [4]:
dfw = pd.read_csv('./data/test_weather.csv', encoding='CP949')
display(dfw)

     지점  지점명        일시  평균기온(°C)  일강수량(mm)
0   268  진도군  20210501      11.9      14.6
1   268  진도군  20210502      11.8       NaN
2   268  진도군  20210503      13.7       NaN
3   268  진도군  20210504      17.4      48.9
4   268  진도군  20210505      13.9       NaN
5   268  진도군  20210506      14.7       NaN
6   268  진도군  20210507      16.6       NaN
7   268  진도군  20210508      15.2       NaN
8   268  진도군  20210509      16.4       NaN
9   268  진도군  20210510      18.2       NaN
10  268  진도군  20210511      19.7       NaN
11  268  진도군  20210512      20.0       NaN
12  268  진도군  20210513      19.0       NaN
13  268  진도군  20210514      20.4       0.0
14  268  진도군  20210515      21.7      20.5
15  268  진도군  20210516      19.9      45.6
16  268  진도군  20210517      15.1       0.8
17  268  진도군  20210518      16.2       NaN
18  268  진도군  20210519      19.4       NaN
19  268  진도군  20210520      16.2      13.0
20  268  진도군  20210521      16.7       NaN
21  268  진도군  20210522      17.9       NaN
22  268  진도군  20210523      19.7       0.0
23  268  진도군  20210524      17.6       0.0
24  268  진도군  20210525      17.3       NaN
25  268  진도군  20210526      17.1       0.7
26  268  진도군  20210527      16.9       0.6

In [5]:
from datetime import timedelta
import datetime

#date1 = str(date.strftime("%Y%m%d"))

temp_list = []
rain_list = []

for row in df2.itertuples():
    #print(row)
    for row2 in dfw.itertuples():
        #print(row2)
        #print('r1: ',row[1])
        #print('r23: ', row2[3])
        if row[1] == row2[3]:
            #print('24: ', row2[4])
            #print('25: ',row2[5])
            temp_list.append(row2[4])
            rain_list.append(row2[5])
            continue

print('temp_list', temp_list)
print(len(temp_list))
print('rain_list', rain_list)
print(len(rain_list))

temp_list [11.9, 11.9, 11.9, 11.9, 11.8, 11.8, 11.8, 11.8, 13.7, 13.7, 13.7, 13.7, 17.4, 17.4, 17.4, 17.4, 13.9, 13.9, 13.9, 13.9, 14.7, 14.7, 14.7, 14.7, 16.6, 16.6, 16.6, 16.6, 15.2, 15.2, 15.2, 15.2, 16.4, 16.4, 16.4, 16.4, 18.2, 18.2, 18.2, 18.2, 19.7, 19.7, 19.7, 19.7, 20.0, 20.0, 20.0, 20.0, 19.0, 19.0, 19.0, 19.0, 20.4, 20.4, 20.4, 20.4, 21.7, 21.7, 21.7, 21.7, 19.9, 19.9, 19.9, 19.9, 15.1, 15.1, 15.1, 15.1, 16.2, 16.2, 16.2, 16.2, 19.4, 19.4, 19.4, 19.4, 16.2, 16.2, 16.2, 16.2, 16.7, 16.7, 16.7, 16.7, 17.9, 17.9, 17.9, 17.9, 19.7, 19.7, 19.7, 19.7, 17.6, 17.6, 17.6, 17.6, 17.3, 17.3, 17.3, 17.3, 17.1, 17.1, 17.1, 17.1, 16.9, 16.9, 16.9, 16.9]
108
rain_list [14.6, 14.6, 14.6, 14.6, nan, nan, nan, nan, nan, nan, nan, nan, 48.9, 48.9, 48.9, 48.9, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 20.5, 20.5, 20.5, 20.5, 45.6, 45.6, 45.6, 45.6, 0.8, 0.8, 0.8, 0.8, nan, nan, nan, nan, nan, nan, nan, nan, 13.0, 13.0, 13.0, 13.0, nan, nan, nan, nan, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, nan, nan, nan, 0.7, 0.7, 0.7, 0.7, 0.6, 0.6, 0.6, 0.6]
108

In [16]:
for i in df2:
    print(df2.iloc[i, 1])

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [15]:
#열 추가
df2['평균기온'] = temp_list
df2['강수량']=rain_list
display(df2)
print('안녕')

           날짜     품목명  평균가격  전일평균가격  전년가격 등급  평균기온   강수량
0    20210501  대파(일반)  4211    4445  1358  특  11.9  14.6
1    20210501  대파(일반)  3232    3754  1079  상  11.9  14.6
2    20210501  대파(일반)  2996    3027   980  중  11.9  14.6
3    20210501  대파(일반)  2513    2459   745  하  11.9  14.6
4    20210502  대파(일반)     0    4211  1363  특  11.8   NaN
..        ...     ...   ...     ...   ... ..   ...   ...
103  20210526  대파(일반)  1180    1392  1208  하  17.1   0.7
104  20210527  대파(일반)  3699    3601  1952  특  16.9   0.6
105  20210527  대파(일반)  1554    2152  1639  상  16.9   0.6
106  20210527  대파(일반)  1247    1572  1500  중  16.9   0.6
107  20210527  대파(일반)  1110    1180  1257  하  16.9   0.6

[108 rows x 8 columns]

안녕

In [ ]:

dfnew = dfw
dfnew